header {
  height: 50px;
  border-bottom: $neutral-700 solid 1px;
  padding: 5px 42px;
}

.nav-item {
  margin-left: 20px;
}

.header-menu {
  display: none;
}

@media screen and (max-width: 780px) {
  .header-menu {
    display: block;
  }
  nav {
    display: none;
  }
}
