.icon__24px {
  height: 24px;
  width: 24px;
  background-size: 24px;
  margin-right: 5px;
}

.icon__36px {
  height: 36px;
  width: 36px;
  background-size: 36px;
  margin-right: 5px;
}

.avatar {
  background-image: url("../../public/assets/images/icons/36px/initials.png");
}

.bell {
  background-image: url("../../public/assets/images/icons/24px/bell.png");
}

.burger-menu {
  background-image: url("../../public/assets/images/icons/36px/menu.png");
}
