img {
  box-sizing : border-box;
}

.nelson {
  background-size: 300px;
  background-image: url("../../public/assets/images/nelson.png");
}

.innsbruck {
  background-size: 300px;
  background-image: url("../../public/assets/images/innsbruck.png");
}

.lisbon {
  background-size: 300px;
  background-image: url("../../public/assets/images/lisbon.png");
}
