main {
  flex: 1;
  background-image: url("../../public/assets/images/confetti-background.png");
  background-size: cover;
  padding-bottom: 100px;
}

.page {
  margin: 0px 153px;
  padding-top: 100px;
}
