.white-text {
  color: $neutral-000;
}

.force-left {
  margin-left: -5px;
}


.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
