$neutral-000: #FFFFFF;
$neutral-100: #E6E6E6;
$neutral-200: #CCCCCC;
$neutral-400: #999999;
$neutral-600: #666666;
$neutral-700: #4D4D4D;
$neutral-900: #000000;

$primary-500: #3B70C4;

$highlight-300: #82E3AC;
$highlight-400: #58DA91;
